<div *ngIf="showHeader()" [ngStyle]="getHeaderStyle()" >

  <h1>{{ name }}</h1>
  <p>
    {{ getName() }}
  </p>

</div>

{{ counter }}

<ng-container *ngFor="let x of arrayOfNumbers; let i = index">
  <p>
    <span>{{i+1}}</span>
    {{x}}
  </p>

</ng-container>


<button (click)="button1Click()">Button 1</button>

<hr>
<label>My name</label>
<input [(ngModel)]="name">

<button (click)="fetchData()">Button fetch</button>

<div *ngFor="let x of studentArray">
  {{x.id}}
  {{x.ime}}
  {{x.prezime}}
</div>
