@use '@angular/material' as mat;

$primary: mat.m2-define-palette(mat.$m2-indigo-palette); // Primarna paleta
$secondary: mat.m2-define-palette(mat.$m2-pink-palette); // Sekundarna paleta
$error: mat.m2-define-palette(mat.$m2-red-palette); // Paleta grešaka

$theme: mat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent: $secondary,
    warn: $error,
  ),
));

// Primjenjuje temu na sve Angular Material komponente
@include mat.all-component-themes($theme);


/* You can add global styles to this file, and also import other styles files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
