<p>admin-layout works!</p>

<nav>
  <ul>
    <li><a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/admin/cities" routerLinkActive="active">Cities</a></li>
    <li><a routerLink="/admin/destination" routerLinkActive="active">Destination</a></li>
    <li><a routerLink="/admin/order" routerLinkActive="active">Reservations</a></li>
    <li><a routerLink="/auth/logout">Logout</a></li>
  </ul>
</nav>

<div style="border: 1px solid red">
  <router-outlet></router-outlet>
</div>
