<mat-form-field appearance="fill" class="full-width">
  <mat-label>{{ myLabel }}</mat-label>
  <mat-select [compareWith]="compareFn" [formControl]="formControl" [id]="myId">
    <mat-option *ngIf="myPlaceholder" [value]="null" disabled>
      {{ myPlaceholder }}
    </mat-option>
    <mat-option *ngFor="let option of options" [value]="option.id">
      {{ option.name }}
    </mat-option>
  </mat-select>

  <!-- Dinamičko prikazivanje grešaka -->
  <mat-error *ngIf="formControl.invalid && (formControl.touched || formControl.dirty)">
    <ng-container *ngIf="formControl.errors as errors">
      <ng-container *ngFor="let errorKey of getErrorKeys(errors)">
        <small>{{ getErrorMessage(errorKey, errors[errorKey]) }}</small>
      </ng-container>
    </ng-container>
  </mat-error>
</mat-form-field>
