<p>cities-edit works!</p>

<h2 *ngIf="cityId!=0">Edit City</h2>
<h2 *ngIf="cityId==0">Add new City</h2>

<form (ngSubmit)="updateCity()">
  <div>
    <label for="name">City Name:</label>
    <input [(ngModel)]="city.name" id="name" name="name" required/>
  </div>

  <div>
    <label for="countryId">Country:</label>
    <select [(ngModel)]="city.countryId" id="countryId" name="countryId" required>
      <option *ngFor="let country of countries" [value]="country.id">
        {{ country.name }}
      </option>
    </select>
  </div>

  <button type="submit">Save Changes</button>
  <button routerLink="/admin/cities" type="button">Cancel</button>
</form>
